<section id="contacto" class="container-fluid">
 
    <div class="container-lg py-4 contenedor">
        <h2 class="display-6 mt-3 heading-lines">Contacto</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <div class="contact-img fs-3">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-4">UBICACIÓN</h5>
                        <p class="card-text text-center">{{person.location?.name}} - {{person.province?.name}} - Argentina</p>
                    </div>
                </div>
            </div>
   
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <div class="contact-img fs-3">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-4">EMAIL</h5>
                        <p class="card-text text-center">{{person.email}}</p>
                    </div>
                </div>
            </div>
   
            <div class="col-lg-4">
                <div class="card shadow card-height">
                    <div class="contact-img fs-3">
                        <i class="fa-solid fa-hashtag"></i>
                    </div>
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-4">SOCIAL MEDIA</h5>
                        <p class="card-text text-center fs-4">
                            <a href="https://github.com/paulinaroth"><i class="fa-brands fa-github px-1"></i></a>
                            
                            <a href="https://www.facebook.com/profile.php?id=100080140839253"><i class="fa-brands fa-facebook px-1"></i></a>
                        </p>
                    </div>
                </div>
            </div>
   
        </div>
   
        <div class="volver"><a href="#inicio"><i class="fa-solid fa-arrow-turn-up"></i></a></div>
    </div>
   </section>
