<div class="container-fluid container-edition">
    <div class="row justify-content-center py-4 mt-3">
        <div class="card p-4 border-light shadow" style="max-width: 540px">
            <h4 class="mt-3 text-center">Ingresar credenciales para acceder a la edición del Portfolio</h4>
            <form [formGroup]="loginForm" (ngSubmit)="logIn()">

                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="text" id="email" name="email" class="form-control" [ngClass]="{'is-invalid': loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required'] || loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email'], 'is-valid': !loginForm.get('email')?.errors?.['required']&& !loginForm.get('email')?.errors?.['email']}" formControlName="email">
                    <div *ngIf = "loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']" ><p class="text-danger">Se debe ingresar un e-mail válido</p></div>
                    <div *ngIf = "loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']" ><p class="text-danger">Campo requerido</p></div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" id="password" name="password" class="form-control" [ngClass]="{'is-invalid': loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required'], 'is-valid': !loginForm.get('password')?.errors?.['required']}" formControlName="password">
                    <div *ngIf = "loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']" ><p class="text-danger">Campo requerido</p></div>
                </div>


                <div class="mb-3 text-center">
                    <button type="submit" class="btn" [disabled]="loginForm.invalid">Ingresar</button> <a class="btn-light px-3" [routerLink]="['/portfolio']">No, acceder como visitante</a>
                </div>


            </form>
        </div>
        

        

    </div>

</div>
